/*==============================================================================*\
	NGC Main CSS File
\*==============================================================================*/
.navbar-ngc{
	margin-top: 20px;
}

/*==============================================================================*\
	Utility Classes
\*==============================================================================*/
.placeholder{
	background-color: #80ccff;
}
.ph-slider{
	height: 400px;
	width: 100%;
}
.ph-block{
	height: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
}