<div class="container">
	<div class="placeholder ph-slider">

	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="placeholder ph-block"></div>
		</div>
		<div class="col-sm-4">
			<div class="placeholder ph-block"></div>

		</div>
		<div class="col-sm-4">
			<div class="placeholder ph-block"></div>

		</div>
	</div>
	<h2 id="title">Welcome to Ember</h2>
</div>
{{outlet}}
