<div class="container">
    {{#jquery.main-slider}}
    <div class="about-slider-container">
        <div class="about-slider">
            <div class="slick-content pear-slide-1" style="background-image: url('../assets/images/slider-images/slider1.jpg');">
                <div class="row" style="height: 100%;">
                    <div class="col-xs-2">
                        {{!-- Nothing here --}}
                    </div>
                    <div class="col-xs-8 text-center index-logo-container-2">
                        {{!--
                        <h1 class="pear-text-logo unselectable">pear</h1> --}}
                    </div>
                    <div class="col-xs-2 text-center">
                        {{!-- Nothing here either --}}
                    </div>
                </div>
            </div>
            <div class="slick-content pear-slide-2" style="background-image: url('../assets/images/slider-images/slider2.jpg');">
                <div class="about-center-me text-center">
                    <h1 class="text-center"><span>Plan</span></h1>
                    <div class="about-font-stretch">
                        <h4 class="text-center"><span>Wedding planning can be tough.
							<br />We're here to change that.</span></h4>
                    </div>
                </div>
            </div>
            <div class="slick-content pear-slide-3" style="background-image: url('../assets/images/slider-images/slider3.jpg');">
                <div class="about-center-me text-center">
                    <h1 class="text-center"><span>Share</span></h1>
                    <div class="about-font-stretch">
                        <h4 class="text-center"><span>Share your ideas and favourites with your friends,<br />and invite them to view your Pear Wedding Profile.
							<br /></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/jquery.main-slider}}
	<div class="row">
		<div class="col-sm-4">
			<div class="placeholder ph-block"></div>
		</div>
		<div class="col-sm-4">
			<div class="placeholder ph-block"></div>

		</div>
		<div class="col-sm-4">
			<div class="placeholder ph-block"></div>

		</div>
	</div>
	<h2 id="title">Welcome to Ember</h2>
</div>
{{outlet}}
